@import "./nav.scss", "./main-container.scss";

.inverted {
    filter: invert(1);
}

body{
    background-color: #808782;
}

.dark-mode{
    nav{
        background-color: #000;
        button{
            color: #fff;
        }
    }
    .main-container{
        background-color: #202020;
        color: #fff;
        .card{
            border-color: #D89E5E;
            background-color: #D89E5E;
        }
        .card-body{
            .font{
                color: white;
            }
        }
    }
}