.main-container{
    height: 90vh;
    .card-margin{
        margin-top: 10vh;
    }
    .card-body{
        border-top: 2px solid #808782;
    }
    .card{
        width: 50%;
        border: 2px solid #FFD6AF;
        background-color: #FFD6AF;
        height: 75%;
    }

    .fg-pics, .fbla-pics{
        background-color: #FFD6AF;
        margin-top: 10vh;
    }
    .fg-desc, .fbla-desc{
        margin-top: 10vh;
        background-color: #FFD6AF;
    }
}

@media (max-width: 772px) {
    .main-container{
        .card-margin {
            margin-top: auto;
            margin-bottom: auto;
        }
        .card{
            width:75%
        }
    }
}

@media (max-width: 511px) {
    .main-container {
        .card {
            height: 90%;
            width: 85%;
        }
    }
}