nav{
    background-color: #656565;
    height: 10vh;

    a{
        text-decoration: none;
        margin-top: auto;
        margin-bottom: auto;
    }
    button{
        background-color: #808782;
        border: 3px solid #808782;
        border-radius: 10px;
        width: 100%;
        height: 80%;
        &:hover{
            border-color: #000;
        }
    }
}